#!/usr/bin/env zsh
#   run_onchange_install-packages.zsh
#   Script to install the required packages on each system.

{{ if eq .chezmoi.os "darwin" }}
{{ if lookPath "brew" }}
{{ if .brew_formulae }}
brew install {{ .brew_formulae | join " " }}
{{end}}
{{ if .brew_casks }}
brew install --cask {{ .brew_casks | join " " }}
{{ end }}
brew tap homebrew/cask-fonts
{{ if .brew_cask_fonts }}
brew install {{ .brew_cask_fonts | join " " }}
{{ end }}
{{ end }}
{{ end }}

{{ if lookPath "nix-env" }}
{{ if .nix_packages }}
nix_packages=( {{ .nix_packages | join " " }} )
nix-env -iA nixpkgs.${^nix_packages}
{{ end }}
{{ end }}

# vim: ft=zsh ts=2 sw=2 sts=2 et fenc=utf-8
