{{- if (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) -}}
#!/usr/bin/env zsh
#   run_onchange_install-packages.zsh
#   Script to install the required packages on each system.

{{ if lookPath "brew" }}
{{   if .packages.brew.formulae }}
brew install {{ .packages.brew.formulae | join " " }}
{{   end }}
{{   if .packages.brew.casks }}
brew install --cask {{ .packages.brew.casks | join " " }}
{{   end }}
{{ end }}

{{ if lookPath "nix-env" }}
{{   if .packages.nix.nixpkgs }}
nix_packages=( {{ .packages.nix.nixpkgs | join " " }} )
nix-env -iA nixpkgs.${^nix_packages}
{{   end }}
{{ end }}
# vim: ft=zsh ts=2 sw=2 sts=2 et fenc=utf-8
{{ end }}
