#   .chezmoi.toml
#   Chezmoi configuration variables.

[data]
    # -- KITTY ---------------------------------------------------------
    kitty_font_family = "Iosevka Term"
    kitty_font_size = 12
    kitty_shell = "zsh"

# vim: ft=toml ts=4 sw=4 sts=4 et fenc=utf-8
