#   .chezmoi.toml
#   Chezmoi configuration variables.

[data]
    # -- PACKAGES ------------------------------------------------------
    {{- if eq .chezmoi.os "darwin" }}
    brew_formulae = ["robotsandpencils/made/xcodes", # command-line xcode version manager
                     "mint"  # package manager for executable swift packages
                     ]
    brew_casks = ["firefox",  # free and open-source web browser
                  "kitty",    # fast, feature-rich, GPU based terminal emulator
                  "karabiner-elements",  # powerful and stable keyboard customizer
                  "amethyst"
                  ]
    brew_cask_fonts = []
    {{- end }}
    nix_packages = ["fzf",      # command-line fuzzy finder
                    "lsd",      # the next gen ls command
                    "neovim",   # powerful command-line text editor
                    "ripgrep",  # very fast grep replacement
                    "tmux",     # terminal multiplexer
                    "zsh",      # extended version of the Bourne Shell (sh)
                    "_7zz",     # command-line archiver utility
                    "aria2",    # lightweight multi-protocol command-line download utility
                    "python3"   # high-level dynamically-typed programming language
                    ]

    # -- KITTY ---------------------------------------------------------
    kitty_font_family = ""
    kitty_font_size = 12
    kitty_shell = "zsh --login"

    # -- ZSH -----------------------------------------------------------
    zsh_plugins = ["zsh-autosuggestions", "fzf"]
    zsh_theme = "powerlevel10k"
    zsh_prompt_config = "pure"
    zsh_p10k_instant_prompt = true

    # -- NEOVIM --------------------------------------------------------
    neovim_flavor = "astronvim"

# vim: ft=toml ts=4 sw=4 sts=4 et fenc=utf-8
