[".config/zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".config/zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{ if eq .neovim_flavor "astronvim" }}
[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/AstroNvim/AstroNvim"
    refreshPeriod = "168h"
{{ end }}

# Fonts
{{ $fontDir := "" }}
{{ if eq .chezmoi.os "darwin" }}
{{ $fontDir = "Library/Fonts" }}
{{ else if eq .chezmoi.os "linux" }}
{{ $fontDir = ".local/share/fonts" }}
{{ end }}
{{ if ne $fontDir "" }}
["{{ $fontDir }}/Symbols-2048-em Nerd Font Complete Mono.ttf"]
    type = "file"
    url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/NerdFontsSymbolsOnly/complete/Symbols-2048-em%20Nerd%20Font%20Complete%20Mono.ttf"
    refreshPeriod = "168h"
{{ end }}

# vim: ft=toml ts=4 sw=4 sts=4 et fenc=utf-8
