#   .zshrc
#   Setup for interactive shells.

# -- CUSTOMIZATION -----------------------------------------------------
# ----------------------------------------------------------------------

plugins=( {{ .zsh.plugins | join " " }} )
theme={{ .zsh.theme }}
prompt_config={{ .zsh.promptConfig }}

{{ if .zsh.p10k.instantPrompt }}
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
{{ end }}

if [[ "$TERM_PROGRAM" == "WarpTerminal" ]]; then
  # Warpify subshells
  printf '\eP$f{"hook": "SourcedRcFileForWarp", "value": { "shell": "zsh"}}\x9c'
fi

# -- MISC --------------------------------------------------------------
# ----------------------------------------------------------------------

setopt INTERACTIVECOMMENTS
setopt MAGICEQUALSUBST
setopt NOTIFY
setopt NUMERICGLOBSORT

# -- AUTOCOMPLETION ----------------------------------------------------
# ----------------------------------------------------------------------

fpath=( "$fpath[@]" "$ZSH_CUSTOM/completion/" )

# Load required stock functions.
autoload -Uz compaudit compinit zrecompile
compinit

# -- PLUGINS ----------------------------------------------------------
#----------------------------------------------------------------------

for plugin ( $plugins ); do
  if [[ -f "$ZSH_CUSTOM/plugins/$plugin/$plugin.plugin.zsh" ]]; then
    source "$ZSH_CUSTOM/plugins/$plugin/$plugin.plugin.zsh"
  elif [[ -f "$ZSH_CUSTOM/plugins/$plugin/$plugin.zsh" ]]; then
    source "$ZSH_CUSTOM/plugins/$plugin/$plugin.zsh"
  fi
done
unset plugin plugins

# -- CONFIG -----------------------------------------------------------
# ---------------------------------------------------------------------

for config_file ( "$ZSH_CONFIG"/*.zsh(N) ); do
  source "$config_file"
done
unset config_file

# -- PRIVATE ----------------------------------------------------------
# ---------------------------------------------------------------------

for private_file ( "$ZSH_CUSTOM"/private/*.zsh(N) ); do
  source "$private_file"
done
unset private_file

# -- PROMPT -----------------------------------------------------------
# ---------------------------------------------------------------------

if [[ -n "$prompt_config" && -f "$ZSH_CUSTOM/prompts/$prompt_config.zsh" ]]; then
  source "$ZSH_CUSTOM/prompts/$prompt_config.zsh"
fi
unset prompt_config

# -- THEME ------------------------------------------------------------
#----------------------------------------------------------------------

if [[ -n "$theme" && -f "$ZSH_CUSTOM/themes/$theme/$theme.zsh-theme"  ]]; then
  source "$ZSH_CUSTOM/themes/$theme/$theme.zsh-theme"
fi
unset theme

# vim: ft=zsh sw=2 ts=2 sts=2 et fenc=utf-8
